---
interface Props {
  locationId: string;
  lang?: string;
}
const { locationId, lang = "es" } = Astro.props;
---
<div class="tripadvisor-widget-container">
  <div class="tripadvisor-header">
    <img class="tripadvisor-logo" src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_lockup_horizontal_secondary_registered.svg" alt="TripAdvisor" />
  </div>
  <div id={`TA_reviews${locationId}`} class="TA_reviews"></div>
  <div id="TA_excellentChoice123" class="TA_excellentChoice">
    <ul id="vHvblCiJ" class="TA_links WPEHnE3uSz0">
      <li id="v04A3u" class="nXcjVN7H1D">
        <a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/widgets/excellentChoice_v2-36306-2.png" alt="TripAdvisor"/></a>
      </li>
    </ul>
  </div>
  <script src="https://www.jscache.com/wejs?wtype=excellentChoice&uniq=123&locationId=d32812634&lang=es&display_version=2"></script>
</div>
<style>
  .tripadvisor-widget-container {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
  }
  
  .tripadvisor-header {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .tripadvisor-logo {
    width: 180px;
  }
  
  .TA_reviews {
    overflow: hidden;
  }
</style>