---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import HeroSection from '../components/home/HeroSection.astro';
import DestinationCategories from '../components/home/DestinationCategories.astro';
import FeaturedDestinations from '../components/home/FeaturedDestinations.astro';
import Advantages from '../components/home/Advantages.astro';
import Alliances from '../components/home/Alliances.astro';
import Testimonials from '../components/home/Testimonials.astro';
import Newsletter from '../components/home/Newsletter.astro';
import PaymentPlans from '../components/home/PaymentPlans.astro';
import Footer from '../components/layout/Footer.astro';
---

<Layout title="AL mundo Tours - Agencia de Viajes en Colombia">
  <Header />
  <main>
    <HeroSection />
    <FeaturedDestinations />
    <DestinationCategories />
    <Advantages />
    <Alliances />
    <PaymentPlans />
    <Testimonials />
    <Newsletter />
  </main>
  <Footer />
</Layout>