---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import HeroSectionUpdated from '../components/home/HeroSection.astro';
import DestinationCategoriesUpdated from '../components/home/DestinationCategories.astro';
import FeaturedDestinations from '../components/home/FeaturedDestinations.astro';
import Advantages from '../components/home/Advantages.astro';
import TestimonialsUpdated from '../components/home/Testimonials.astro';
import Newsletter from '../components/home/Newsletter.astro';
import PaymentPlans from '../components/home/PaymentPlans.astro';
import FooterUpdated from '../components/layout/Footer.astro';
---

<Layout title="Almundo Tour - Agencia de Viajes en Colombia">
  <Header />
  <main>
    <HeroSectionUpdated />
    <FeaturedDestinations />
    <DestinationCategoriesUpdated />
    <Advantages />
    <PaymentPlans />
    <TestimonialsUpdated />
    <Newsletter />
  </main>
  <FooterUpdated />
</Layout>